<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add / Edit Films</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Film </h1>
        </div>
    </div>

    <form th:action="@{/save-film}" th:object="${film}" method="post">
        <!--<input type="hidden" th:value="${film.id}" name="id"/>-->
        <div class="form-group">
            <label for="name">Name:</label>
            <input th:field="*{name}" type="text" class="form-control" id="name">
            <label th:style="'color:red'" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></label>
        </div>
        <div class="form-group">
            <label for="releaseDate">Release Date:</label>
            <input th:field="*{releaseDate}" type="text" class="form-control" id="releaseDate">
            <label th:style="'color:red'" th:if="${#fields.hasErrors('releaseDate')}" th:errors="*{releaseDate}"></label>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input th:field="*{description}" type="text" class="form-control" id="description">
            <label th:style="'color:red'" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></label>
        </div>
        <div class="form-group">
            <label for="rating">Rating</label>
            <select>
                <option th:each="rating : ${T(com.films.model.Rating).values()}"
                        th:value="${rating}"
                        th:text="${rating}"
                        th:field="*{rating}" class="form-control"
                        id="rating">
                </option>
            </select>
            <label th:style="'color:red'" th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}"></label>
        </div>
        <div class="form-group">
            <label for="ticketPrice">Ticket Price </label>
            <input th:field="*{ticketPrice}" type="text" class="form-control" id="ticketPrice">
            <label th:style="'color:red'" th:if="${#fields.hasErrors('ticketPrice')}" th:errors="*{ticketPrice}"></label>
        </div>
        <div class="form-group">
            <label for="country">Country</label>
            <input th:field="*{country}" type="text" class="form-control" id="country">
            <label th:style="'color:red'" th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></label>
        </div>
        <div class="form-group">
            <label for="rating">Genre</label>
            <select>
                <option th:each="genre : ${T(com.films.model.Genre).values()}"
                        th:value="${genre}"
                        th:text="${genre}"
                        th:field="*{genre}" class="form-control"
                        id="genre">
                </option>
            </select>
            <label th:style="'color:red'" th:if="${#fields.hasErrors('genre')}" th:errors="*{rating}"></label>
        </div>
        <a th:href="@{/films-ui}">
            <button type="button" class="btn btn-danger">Cancel</button>
        </a>
        <button type="submit" class="btn btn-success">Save</button>
    </form>
</div>
</body>
</html>